//
// Footer
// --------------------------------------------------


// Site links
// -------------------------

.site-links{

}

.site-links__link{
	display: inline-block;
	margin: (@margin-base*0.2) (@margin-base*0.4);
	color: @light;
	font-size: @font-size-h4; font-family: 'Open Sans', sans-serif;
}