//
// Header
// --------------------------------------------------

header{
	height: 44px;
	@media (min-width: @screen-md){ height: 100px;}
  font-family: 'Open Sans', sans-serif;
}

.logo-carnival{ width: 129px; }
header + div h2{
	margin-bottom: @margin-base;
}