//
// Header
// --------------------------------------------------

header{
	height: 44px;
	@media (min-width: @screen-sm){ height: 100px;}
  font-family: 'Open Sans', sans-serif;
}

.logo-carnival{ width: 129px; }