//
// Images
// --------------------------------------------------

// Base styles
// -------------------------

.img-home{
    background-image: url('../../img/carnival.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.img-destinos{
	background-image: url('../../img/destinos.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.img-folletos{
    background-image: url('../../img/folletos.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}