//
// Images
// --------------------------------------------------

// BG styles
// -------------------------

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img-destinos{ background-image: url('img/destinos.jpg'); }
.img-folletos{ background-image: url('img/folletos.jpg'); }
.img-crucero{ background-image: url('img/carnival-.jpg'); }
.img-categorias{ background-image: url('img/categorias.png'); }

.rectangle{
	height: 150px;
	@media (min-width: @screen-sm){ height: 200px;}
}
.rectangle-small{
	height: 80px;
	@media (min-width: @screen-sm){ height: 250px;}
}
// .carta{
// 	width: 330px ;
// 	height: 255px ;
// 	border: 1px solid red;
// }

.square{
	height: 300px;
	@media (min-width: @screen-sm){ height: 420px;}
}
.img-size-xs{ width: 20% }

.img-auto{ margin: auto; }
.img-icons{
	margin-bottom: 5px;
	width: 25px;
}

.overflow-hidden{ overflow: hidden;}