//
// Images
// --------------------------------------------------

// Base styles
// -------------------------

.img-home{
    background-image: url('../../img/carnival.jpg');
}

.img-destinos{
	background-image: url('../../img/destinos.jpg');
}

.img-folletos{
    background-image: url('../../img/folletos.jpg');
}

.img-crucero{ 
  background-image: url('../../img/carnival-.jpg');
}
.img-barbados{
  background-image: url('../../img/barbados.jpg');
}

.rectangule{
    background-size: cover;
    background-repeat: no-repeat; 
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}

.square{
    background-size: cover;
    background-repeat: no-repeat; 
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.rectangule-medium{
    background-size: cover;
    background-repeat: no-repeat; 
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;  
}

.rectangule-small{
    background-size: cover;
    background-repeat: no-repeat; 
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}