//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.diplay-inline{
  display: inline;
}

// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


// Background-color
// -------------------------

.bg-primary{   background-color: @primary; }
.bg-secondary{   background-color: @secondary; }
.bg-tertiary{   background-color: @tertiary; }
.bg-darker{   background-color: @darker; }
.bg-dark{   background-color: @dark; }
.bg-quaternary{   background-color: @quaternary; }
.bg-secondary-2{background-color: @light+@secondary;}

// Padding
// -------------------------

.padding-medium{ padding-right: 50%; }
.padding-left{ padding-left: 50%; }
.padding-right{padding-right: 6px;}
.padding-extralarge{ padding: 0 @padding-extralarge; }
.padding-small{ padding: 0 @padding-small; }
.padding-large{ padding: @padding-large; }
.padding-primary{ padding: @padding-primary 0; }
.padding-top-bottom-small{
  padding-bottom: @padding-small;
  padding-top: @padding-small;
}
.padding-md{padding: @padding-small;}
.padding-top{padding-top: @padding-large;}
.padding-top-sm{ padding-top: @padding-small}

.padding-right-left{
  padding-left: 10%;
  padding-right:10%;}
// Margin
// -------------------------

.margin-bottom{ margin-bottom: @margin-small; }
.margin-small-bottom{ margin-bottom: @margin-small; }
.margin-small{margin:@margin-small2;}
.margin-large{ margin-bottom: @margin-large; }
.margin-left{ margin-left: @margin-small; }
.margin-left-medium{
  margin-left: @margin-medium;
}
.margin-medium{margin-bottom: @margin-smaller;}
// Width
// -------------------------

.width-100{ width: 100%; }
.width-50{ width: 50%; }

//height

.height-100{ height: 100%;}


.circulo {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: yellow;
     display: inline;
     margin-top: 15px;
}
.icono {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: gray;
}
.bg-map{
    background-color: #E6E6E6;
    width: 100%;
    height: 500px;
}
.folder {
    width: 250px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 0px solid transparent;
    padding: 5px 10px;
}
.folder-reverse {
    border-right: 0px solid transparent;
    border-left: 60px solid transparent;
    float: right;
}
.folder-darker{
     border-bottom: 50px solid #848484;
}
.folder-dark{
     border-bottom: 50px solid #BDBDBD;
}
.folder-quaternary{
     border-bottom: 50px solid #A4A4A4;
}

//bordes

.border-primary{
  border: 2px solid @primary;
}
.border-bottom{ border-bottom: 1px solid @secondary; }


//borders

.border-right{
  border-right: 1px solid @light;
}

//divider

.divider{
  margin-bottom: 20px;
  border-top: 3px solid @primary;
}
//aling
.vertical{
  vertical-align: middle;
}
//colors

.text-secondary{
  color: @secondary;
}
.danger{
  color: @brand-danger;
}
//map
.map{
  width: 100%;
  height: 300px;
}

//circles

.circle{
  width: 50px;
  height: 50px;
  background-color: @secondary;
  color: @light;
  border-radius: 100%;
}
.icon{
  width: 100%;
}

//footer-space

.footer-space{
  height:30px;
}

//Background color

.bg-dark{ background-color: @gray-base; }